$bg-theme: #F6F4FE;
$theme: #6A49F2;
$theme-op: rgba(106, 73, 242, 0.9);
$dark-purple: #32236F;
$black-3: #3E3F66;
$white: #ffffff;
$shadow: #EDE9FE;
$shadow-2: #c5c5c580;
$purple-1: #f6f5ff;
$purple-2: #f2faff;
$purple-3: #fff2fc;
$purple-4: #e9fffe;
$purple-5: #eae8f5;
$purple: #5539cc;
$orange: #fc9400;
$yellow: #F8D979;
$black-op-5: rgba(0,0,0,0.5);
$gray: #D4D2DD;
$gray-2: #898aae;
$gray-3: #CCCCE2;
$gray-4: #E1DBF4;
$gray-5: #D6D3E3;
$light-2: rgba(255, 255, 255, 0.3);
$black-4: #8081AD;
$black-5: #495057;
$light: #F6F4FE;
$light-3: #CCC9D7;
$purple-light: #b8a8f9;

